.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 14px;
  background-color: #2e6ba6;;
  padding: 5px;
  color: white;
}

.body {
  height: 100%;
  flex: 1;
}

label {
  padding-right: 5px;
}

input {
  width: 300px;
  margin: 0 5px 0 5px;
}
